*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header,main,footer{
    max-width: 100%;
}


/* .container-text #typing-container {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 50px;
}

.container-text #typing-container .tittle,
.container-text #typing-container .sub-tittle {
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid #555555;
    animation: blink-caret .75s step-end infinite;
}
*/
.container-text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 50px;
    padding: 0 20px; 
}

#typing-container {
    display: inline-block;
    width: 100%; 
}

.tittle, .sub-tittle {
    display: inline;
    white-space: wrap;
    overflow: hidden;
    border-right: .15em solid #555555;
    animation: blink-caret .75s step-end infinite;
    font-size: 24px; 
}


@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
      
        border-right: .15em solid #555555;
        border-color: #686868;
    }
}

/* Menu hambúrguer */
