// Cores 
$blackColor:#1e1e1e;
$azulColor:#1649ff;
$brancoColor:#f4f4f4;
$cinzaColor:#565656;
// Fonte 'PoPPINS'
$fontePrincipal:'Poppins',sans-serif;

*{
    scroll-behavior: smooth;
}


#home{
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $brancoColor;
}

.container-text{
    width: 900px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: space-around;

    .tittle{
        font-size: 55px;
        color: $cinzaColor;
    }

    h2{
        font-size: 44px;
        color: #565656;
    }

    h3{
        font-size: 23px;
    }

    p{
        font-size: 23px;
        text-align: center;
        color: $cinzaColor;
    }

    .link{
        height: 54px;
        width: 54px;
        justify-content: center;
        border: none;
        font-size: 36px;
        color: $brancoColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 50%;
        background-color: #1649ff;
        transition: all 1s ease-in-out;
        animation: arrow 1s infinite alternate;
        z-index: 0;

        &:hover{
            box-shadow: 3px 3px 10px #4870ff6c;
        }
    }
}

@keyframes arrow {
    from{
        
        transform: translateY(40px);
    }
    to{
       
        transform: translateY(0px);
    }
}
// Sobre section
#sobre{
    height: 90vh;
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: $brancoColor;

    article{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 750px;

        h2{
            font-size: 30px;
            color: $cinzaColor;
        }

        .link{
            border: 1px solid #1649ff;
            padding: 10px;
            width: 200px;
            font-weight: 600;
            color: $blackColor;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
            
            &:hover{
                background-color: $azulColor;
                color: $brancoColor;
            }
        }
    }

}
// Fim Sobre Section
#skills{
    height: 60vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $brancoColor;

    h2{
        color: $cinzaColor;
        font-size: 38px;
        text-align: center;
    }

    .container-img{
        margin-top: 5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 90px;
        width: 70%;
    }
}
// Fim Skills section
// Projetos section
#projetos{
    width: 100%;
    background-color: $brancoColor;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    h1{
        font-size: 40px;
        color: $cinzaColor;
        text-align: center;
    }
}

.container-projetos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 50px;
    padding: 10px;

  
}

.projeto{
    display: flex;
    flex-direction: row;
    gap: 40px;

    .btn-projeto{
        border: none;
        background-color: #1649ff;
        padding: 10px;
        width: 200px;
        color: $brancoColor;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;

        &:hover{
            font-weight: 600;
            transform: scale(1.1);
            box-shadow: 2px 2px 10px #1e1e1e50;
        }
    }

    img{
        height: auto;
        width: 500px;
    }

    .tablet{
        height: auto;
        width: 350px;
    }

    .descricao{
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
       
        h2{
            font-size: 30px;
        }

        p{
            color: #565656;
        }
    }
}
// Fim projetos section


// Responsivo Dispositios móveis
@media (max-width: 768px) {
    #home {
        padding: 20px;

        .container-text {
            width: 100%;
            padding: 10px;
            gap: 20px;

            .tittle, .sub-tittle {
                font-size: 20px; // Ajuste do tamanho da fonte para telas menores
            }
            h2 {
                font-size: 92px;
            }

            p {
                font-size: 16px;
            }

            .link{
                height: 44px;
                width: 44px;
                justify-content: center;
                border: none;
                font-size: 36px;
                color: $brancoColor;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 50%;
                background-color: #1649ff;
                transition: all 1s ease-in-out;
                animation: arrow 1s infinite alternate;
            }
        }
    }

    #sobre {
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;

        article {
            width: 100%;
            height: auto;
            gap: 20px;
            padding: 10px;

            h2 {
                font-size: 24px;
                text-align: center;
            }

            .link {
                width: 100%;
                text-align: center;
                padding: 15px;
                font-size: 18px;
            }
        }
    }

    #skills {
        height: 60vh;
        padding: 20px;
        justify-content: center;

        h2 {
            font-size: 32px;
        }

        .container-img {
            margin-top: 3rem;
            gap: 40px;
            width: 90%;
        }
    }
    // Projetos
    #projetos{
        height: 240vh;
    }
    .projeto {
        flex-direction: column; 
        align-items: center; 
        gap: 20px; 


        img{
            width: 90%;
        }
        .tablet {
            width: 60%;
        }

        .descricao {
            align-items: center;
            width: 90%; 
            h2 {
                font-size: 24px; 
            }
        }
    }
}

@media (max-width: 480px) {
    // Home section
    #home {
        padding: 15px;

        .container-text {
            gap:25px;

            .tittle {
                font-size: 40px;
            }

            h2 {
                text-align: center;
                font-size: 22px;
            }


            p {
                font-size: 18px;
            }
        }
    }
    // Fim home section
    // Sobre section
}
